<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title inertia>
      AdonisJS
    </title>

    <meta name="description" content="Fleetide AI helps organizations track boats, equipment, and maintenance with intelligent signals." />
    <meta property="og:site_name" content="Fleetide AI" />
    <meta property="og:type" content="website" />

    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32.png" />

    @vite(['inertia/app.ts'])
    @inertiaHead()
    @stack('dumper')
  </head>

  <body>
    @inertia()
  </body>

</html>
